<div class="chart-wrapper" style="height: 150px">
  <canvas baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
  </canvas>
</div> <br>
<span>
  <table style="width:100%">
    <tr><td>Total Value: {{MktTotl  + portfolio?.cashbalance | number:'.0-2'}}</td>
      <td>Cash Balance: {{ portfolio?.cashbalance | number:'.0-2'}}</td>
      <td>Market Val.: {{MktTotl  | number:'.0-2'}}</td>
      <td>Total Cost Basis: {{TotCost |  number:'.0-2'}}</td>
      <td>Total GL: {{TotGL | number:'.0-2'}}</td>
      <td>Dail GL:  <span [ngClass]="{'redtext': DLTot < 0, 'greentext': DLTot > 0}">{{DLTot  | number:'.0-2'}}</span></td>
    </tr>
  </table>
</span> <br>
<ag-grid-angular #agGrid id="myGrid" style="height: 65%" class="ag-theme-balham" [rowData]="rowData"
  [columnDefs]="columnDefs" (firstDataRendered)="onFirstDataRendered($event)" ></ag-grid-angular>

<div style="width: 99%;margin:3px;">
  <app-add-transaction [pid]="pid" (portfolioUpdated)='updatePortfolio($event)'></app-add-transaction>
</div>

<div style="display: block;">
  <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    [colors]="doughnutBackgroundColors"
    >
  </canvas>
</div>


